# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
libs

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Test files
!run/kubejs/server_scripts/test
!run/kubejs/startup_scripts/test
!run/kubejs/client_scripts/test
