# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
libs

# gradle
build
.gradle

# other
eclipse
run/config
run/crash-reports
run/defaultconfigs
run/local
run/logs
run/mods
run/patchouli_books
run/resourcepacks
run/saves
run/screenshots
run/**/*.json
run/**/*.txt
run/**/*.properties
run/**/*.png
run/**/hide.js

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/
